<div align="center" style="z-index: 2; position: absolute; left: 50%; transform: translate(-50%, 0); background-color: transparent; overflow: scroll">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="greet" style="font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 30px; padding-top: 50%; cursor: text">Hello</a>
</div>

<div align="center" style="z-index: 2; position: absolute; left: 50%; transform: translate(-50%, 0); background-color: transparent; overflow: scroll">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="greet1" style="font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 30px; padding-top: 50%; cursor: text">Welcome to my website</a>
</div>

<div align="center" style="z-index: 2; position: absolute; left: 50%; transform: translate(-50%, 0); background-color: transparent;overflow: scroll">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="greet2" style="font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 25px; padding-top: 50%; cursor: text">
    About me
  </a>
  <br>
  <br>
  <a class="greet2" style="font-weight: lighter; font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 17px; padding-top: 50%; cursor: text">
    I am a software developer, technology enthusiast, traveller, and a European history buff. I am completing the final
    year of my undergraduate studies in Computer Science at the University of British Columbia, Vancouver, this May.
  </a>
  <br>
  <br>
  <a class="greet2" style="font-weight: lighter; font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 17px; padding-top: 50%; cursor: text">
    My background integrates various fields within Computer Science, such as parallel computation, machine learning and
    operating systems. I have also been involved with new and upcoming technologies outside academia, such as blockchain
    and decentralized applications built on the Ethereum platform.
  </a>
  <br>
  <br>
  <a class="greet2" style="font-weight: lighter; font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 17px; padding-top: 50%; cursor: text">
    I have worked on a large variety of projects, many of which can be found on my
  </a>
  <a href="https://github.com/anmolshl/" class="greet2" style="font-weight: lighter; font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 17px; padding-top: 50%; text-decoration: underline">
    GitHub
  </a>
  <a class="greet2" style="font-weight: lighter; font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 17px; padding-top: 50%; cursor: text">
    . I have completed two software engineering internships, one in India and one in Germany, which have given me good insight
    into the development of real-world software that is used by thousands of people. My position at BrainBot Technologies AG
    in Berlin, Germany, was especially intense because of the workload and duration. It was, however, very rewarding as
    it gave me a good idea of my ability to function in high-pressure situations completing sprints that were vital to
    the success of my project.
  </a>
  <br>
  <br>
  <a class="greet2" style="font-weight: lighter; font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 17px; padding-top: 50%; cursor: text">
    I am currently searching for full-time opportunities as a software engineer. So if you like my portfolio, click the
    "Contact" button the the top navigation bar to get in touch. This website is still very bare-bones but I am making
    steady progress amidst my hectic courses in university, and will gradually release updates every few days. I have
    exciting plans for this space!
  </a>
</div>
