<div align="center" class="construction-back">
  <table align="center">
    <tr align="center">
      <img align="center" src="https://drive.google.com/uc?id=19wIYlxFmMVofhA2E1ADCNqwAMKf-53SY" style="padding-top: 15%; width: 30%; height: auto">
    </tr>
    <tr align="center">
      <a style="font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 30px; padding-top: 50%">Under Construction!</a>
    </tr>
    <tr align="center">
      <a style="padding-top:50%;font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 15px">But feel free to check out my </a>
      <a href="https://github.com/anmolshl" target="_blank" style="padding-top: 10%; font-family: 'Ubuntu', sans-serif; color: whitesmoke; font-size: 15px; text-decoration: underline">GitHub</a>
    </tr>
  </table>
</div>
